Transplant-CSV-Template.json
[
    {
        "id": "fdfd790779661d44",
        "type": "tab",
        "label": "CSV Upload Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a73622ab3edc11c8",
        "type": "sf:895a366cbeeeb85e",
        "z": "fdfd790779661d44",
        "name": "",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "764643b9d5ab2bb1"
            ]
        ]
    },
    {
        "id": "17cf4c7367682cbc",
        "type": "credentials",
        "z": "fdfd790779661d44",
        "name": "",
        "props": [
            {
                "value": "payload.url",
                "type": "msg"
            },
            {
                "value": "payload.username",
                "type": "msg"
            },
            {
                "value": "payload.password",
                "type": "msg"
            },
            {
                "value": "payload.client_id",
                "type": "msg"
            },
            {
                "value": "client_secret",
                "type": "msg"
            },
            {
                "value": "payload.scope",
                "type": "msg"
            }
        ],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "a73622ab3edc11c8"
            ]
        ]
    },
    {
        "id": "904157476b1fbb8e",
        "type": "inject",
        "z": "fdfd790779661d44",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "17cf4c7367682cbc"
            ]
        ]
    },
    {
        "id": "640884818af4bb89",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 120,
        "wires": []
    },
    {
        "id": "79d41fe6fde27ee4",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "farmOS Import Plant Assets CSV",
        "func": "//Declare Variables from CSV\nvar name = msg.payload.Name;\nvar description = msg.payload.Description;\nvar crop = msg.payload[\"Crop/variety\"];\nvar season = msg.payload.Season;\n\n//Get flow Variables\nvar plant_terms = flow.get(\"plant_terms\");\nvar season_terms = flow.get(\"season_terms\");\n\nvar crop_id = null;\nvar season_id = null;\n\n//Search for plant term uuid\nplant_terms.forEach(data => {\n    if (data.name == crop) {\n        crop_id = data.id;\n        }   \n    })\n\n//search for season term uuid \nseason_terms.forEach(data => {\n    if (data.name == season) {\n        season_id = data.id;\n        }   \n    })\n\n    if (crop_id != null && season_id != null) {\n//Create Asset Object \nmsg.payload = {\n  \"data\": {\n\t\"type\": \"asset--plant\",\n\t\"attributes\": {\n\t\t\"name\": name,\n\t\t\"status\": \"active\",\n\t\t\"notes\": description,\n\t\t\"flag\": []\n\t},\n\t\"relationships\": {\n\t\t\"plant_type\": {\n\t\t\t\"data\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"taxonomy_term--plant_type\",\n\t\t\t\t\t\"id\": crop_id\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"season\": {\n\t\t\t\"data\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"taxonomy_term--season\",\n\t\t\t\t\t\"id\": season_id\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t}\n}}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 660,
        "wires": [
            [
                "59701d5945fece19"
            ]
        ]
    },
    {
        "id": "c5150dd67d629cd4",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1270,
        "y": 600,
        "wires": []
    },
    {
        "id": "59701d5945fece19",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "POST Asset",
        "API": "asset/plant",
        "Method": "POST",
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "f3714430735a9494",
                "c5150dd67d629cd4"
            ]
        ]
    },
    {
        "id": "676cfaa9fb454337",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "Get Plant Terms",
        "API": "taxonomy_term/plant_type",
        "Method": "GET",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "ebe001c84fbda7ac"
            ]
        ]
    },
    {
        "id": "ebe001c84fbda7ac",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store Plant terms",
        "func": "var array = flow.get('plant_terms') || [];\nvar name;\nvar id;\n\nmsg.payload.data.forEach(data => {\nname = data.attributes.name;\nid = data.id;\narray.push({id:id,name:name});\n})\n\nflow.set(\"plant_terms\", array);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "039244b4f78d026f",
                "54f66378752bd940"
            ]
        ]
    },
    {
        "id": "039244b4f78d026f",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "Get Season Terms",
        "API": "taxonomy_term/season",
        "Method": "GET",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "272f448dda1152f6"
            ]
        ]
    },
    {
        "id": "272f448dda1152f6",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store Season terms",
        "func": "var array = flow.get('season_terms') || [];\nvar name;\nvar id;\n\nmsg.payload.data.forEach(data => {\nname = data.attributes.name;\nid = data.id;\narray.push({id:id,name:name});\n})\n\nflow.set(\"season_terms\", array);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "facd6ed66f6dc3bd",
                "7f7c9b9ef79580a8"
            ]
        ]
    },
    {
        "id": "764643b9d5ab2bb1",
        "type": "change",
        "z": "fdfd790779661d44",
        "name": "Clear Variables",
        "rules": [
            {
                "t": "delete",
                "p": "plant_terms",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "season_terms",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "unit_terms",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "land_uuid",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "640884818af4bb89",
                "676cfaa9fb454337"
            ]
        ]
    },
    {
        "id": "62a4491c731f2b93",
        "type": "comment",
        "z": "fdfd790779661d44",
        "name": "Authenticate and Get Taxanomy Terms",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "1767f412b58705e2",
        "type": "comment",
        "z": "fdfd790779661d44",
        "name": "Create Plant Asset from CSV",
        "info": "",
        "x": 180,
        "y": 580,
        "wires": []
    },
    {
        "id": "0994e7281fc517ce",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "farmOS Import Trasplanting Logs CSV",
        "func": "//Declare Variables from CSV\nvar name = msg.payload.Name;\nvar description = msg.payload.Description;\nvar land = msg.payload[\"Area/Location\"];\n\n\n//Get flow Variables\nvar NR_plants_FB = flow.get(\"NR_plants_FB\");\nvar length_FB = flow.get(\"length_FB\");\nvar plant_uuid = flow.get(\"plant_uuid\");\nvar land_uuid = flow.get(\"land_uuid\");\n\n//Declare empty variables\nvar NR_id = null;\nvar length_id = null;\nvar plant_id = null;\nvar land_id = null;\n\n//search for quantity NR FB id\nNR_plants_FB.forEach(data => {\n    if (data.name == name) {\n        NR_id = data.id;\n        NR_revision_id = data.revision;\n        }   \n    })\n\n//search for quantity length FB id\nlength_FB.forEach(data => {\n    if (data.name == name) {\n        length_id = data.id;\n        length_revision_id = data.revision;\n        }   \n    })\n\n\n//search for plant uuid \nplant_uuid.forEach(data => {\n    if (data.name == name) {\n        plant_id = data.id;\n        }   \n    })\n\n\n    \nland_uuid.forEach(data => {\n    if (data.name == land) {\n        land_id = data.id;\n        }   \n    })\n\n    if (NR_id != null && plant_id != null && length_id != null && land_id != null) {\n//Create Asset Object \nmsg.payload = {\n  \"data\": {\n\t\"type\": \"log--transplanting\",\n\t\"attributes\": {\n\t    \"data\": name,\n\t\t\"status\": \"done\",\n\t\t\"notes\": {\n\t\t\t\"value\": description\n\t\t},\n\t\t\"flag\": [],\n\t\t\"is_movement\": true\n\t},\n\t\"relationships\": {\n\t\t\"location\": {\n\t\t\t\"data\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"asset--land\",\n\t\t\t\t\t\"id\": land_id\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"asset\": {\n\t\t\t\"data\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"asset--plant\",\n\t\t\t\t\t\"id\": plant_id\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"quantity\": {\n\t\t\t\"data\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"quantity--standard\",\n\t\t\t\t\t\"id\": length_id,\n                    \"meta\": {\n                        \"target_revision_id\": length_revision_id\n\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"quantity--standard\",\n\t\t\t\t\t\"id\": NR_id,\n                    \"meta\": {\n                        \"target_revision_id\": NR_revision_id\n\t\t\t\t}\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t}\n}}}\n//msg.payload = land;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1140,
        "wires": [
            [
                "69108508c05698ab"
            ]
        ]
    },
    {
        "id": "af928334cff4f587",
        "type": "inject",
        "z": "fdfd790779661d44",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "42c5311fc44f7743"
            ]
        ]
    },
    {
        "id": "69108508c05698ab",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "POST log",
        "API": "log/transplanting",
        "Method": "POST",
        "x": 1060,
        "y": 1140,
        "wires": [
            [
                "1c222d5a1bd090ae",
                "5fdd39cbe865a156"
            ]
        ]
    },
    {
        "id": "7e07e681b9117e03",
        "type": "comment",
        "z": "fdfd790779661d44",
        "name": "Create Transplanting log from CSV",
        "info": "",
        "x": 240,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f3714430735a9494",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store plant uuid",
        "func": "var array = flow.get('plant_uuid') || [];\nvar name = msg.payload.data.attributes.name;\nvar id = msg.payload.data.id;\n\narray.push({id:id,name:name});\n\nflow.set(\"plant_uuid\", array);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "550f763f088e6bcf",
        "type": "change",
        "z": "fdfd790779661d44",
        "name": "Clear Variables",
        "rules": [
            {
                "t": "delete",
                "p": "plant_uuid",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "79d41fe6fde27ee4"
            ]
        ]
    },
    {
        "id": "facd6ed66f6dc3bd",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "Get Unit Terms",
        "API": "taxonomy_term/unit",
        "Method": "GET",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "8fcc69c3c41eb8c4"
            ]
        ]
    },
    {
        "id": "8fcc69c3c41eb8c4",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store Season terms",
        "func": "var array = flow.get('unit_terms') || [];\nvar name;\nvar id;\n\nmsg.payload.data.forEach(data => {\nname = data.attributes.name;\nid = data.id;\narray.push({id:id,name:name});\n})\n\nflow.set(\"unit_terms\", array);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "ea5f98717603dc4d",
                "e64db67050c31876"
            ]
        ]
    },
    {
        "id": "c9ac92bfa36a809f",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "farmOS Import length FB CSV",
        "func": "//Declare Variables from CSV\nvar name = msg.payload.Name;\nvar length = msg.payload[\"length FB\"];\nvar unit = \"m\"\n\n//Get flow Variables\nvar unit_terms = flow.get(\"unit_terms\");\n\nvar unit_id = null;\n\n\n\n//Search for plant term uuid\nunit_terms.forEach(data => {\n    if (data.name == unit) {\n        unit_id = data.id;\n        }   \n    })\n    \n\n    \n    numerator = length,\n    denominator = 1;\nwhile (numerator % 1) numerator *= 10;\ndenominator = numerator / length;\n\n\n    if (unit_id != null) {\n//Create Asset Object \nmsg.payload = {\n  \"data\": {\n\t\"type\": \"quantity--standard\",\n\t\"attributes\": {\n\t    \"revision_log_message\": name,\n\t\t\"measure\": \"length\",\n\t\t\"value\": {\n\t\t    \"numerator\":numerator,\n\t\t    \"denominator\":denominator\n\t\t},\n\t\t\"label\": \"length FB\"\n\t},\n\t\"relationships\": {\n\t\t\"units\": {\n\t\t\t\"data\": {\n\t\t\t\t\"type\": \"taxonomy_term--unit\",\n\t\t\t\t\"id\": unit_id\n\t\t\t}\n\t\t}\n\t}\n}\n    \n}}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 840,
        "wires": [
            [
                "20c8ced9da19fc67"
            ]
        ]
    },
    {
        "id": "42c5311fc44f7743",
        "type": "change",
        "z": "fdfd790779661d44",
        "name": "Clear Variables",
        "rules": [
            {
                "t": "delete",
                "p": "length_FB",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "9002f8c12b12a836"
            ]
        ]
    },
    {
        "id": "20c8ced9da19fc67",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "POST Quantity",
        "API": "quantity/standard",
        "Method": "POST",
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "9d96540f45572eab",
                "8e6b6243e6228ffa"
            ]
        ]
    },
    {
        "id": "63221c11dee61193",
        "type": "inject",
        "z": "fdfd790779661d44",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "e482811891061495"
            ]
        ]
    },
    {
        "id": "bbf267869249b4d5",
        "type": "csv",
        "z": "fdfd790779661d44",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "9bb18fe55fbaa10c"
            ]
        ]
    },
    {
        "id": "e482811891061495",
        "type": "file in",
        "z": "fdfd790779661d44",
        "name": "",
        "filename": "/plants.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "bbf267869249b4d5"
            ]
        ]
    },
    {
        "id": "9bb18fe55fbaa10c",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store CSV",
        "func": "flow.set(\"CSV\", msg.payload);\nlet outputMsgs = [];\n\nmsg.payload.forEach(data => {\n  outputMsgs.push({payload:data});\n    })\n\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "550f763f088e6bcf",
                "4e7b0dda8fb037bd"
            ]
        ]
    },
    {
        "id": "9002f8c12b12a836",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Get CSV",
        "func": "var CSV = flow.get(\"CSV\");\nlet outputMsgs = [];\n\nCSV.forEach(data => {\n  outputMsgs.push({payload:data});\n    })\n\nreturn [ outputMsgs ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 840,
        "wires": [
            [
                "c9ac92bfa36a809f"
            ]
        ]
    },
    {
        "id": "9d96540f45572eab",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 780,
        "wires": []
    },
    {
        "id": "e6be2d08937bb305",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "farmOS Import count FB CSV",
        "func": "//Declare Variables from CSV\nvar name = msg.payload.Name;\nvar nr = msg.payload[\"Nr plants FB\"];\n\n\n//Create Asset Object \nmsg.payload = {\n  \"data\": {\n\t\"type\": \"quantity--standard\",\n\t\"attributes\": {\n\t    \"revision_log_message\": name,\n\t\t\"measure\": \"count\",\n\t\t\"value\": {\n\t\t\t\"numerator\": nr,\n\t\t\t\"denominator\": 1\n\t\t},\n\t\t\"label\": \"Nr plants FB\"\n\t}\n}\n    \n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 900,
        "wires": [
            [
                "aa15f16dd795b762"
            ]
        ]
    },
    {
        "id": "aa15f16dd795b762",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "POST Quantity",
        "API": "quantity/standard",
        "Method": "POST",
        "x": 1080,
        "y": 900,
        "wires": [
            [
                "6a5c4fe2e12c39ca",
                "85952d134ee6d33d"
            ]
        ]
    },
    {
        "id": "a253ff0c5db1a370",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Get CSV",
        "func": "var CSV = flow.get(\"CSV\");\nlet outputMsgs = [];\n\nCSV.forEach(data => {\n  outputMsgs.push({payload:data});\n    })\n\nreturn [ outputMsgs ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 900,
        "wires": [
            [
                "e6be2d08937bb305"
            ]
        ]
    },
    {
        "id": "6a5c4fe2e12c39ca",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 960,
        "wires": []
    },
    {
        "id": "1f84f9423836d07a",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Get CSV",
        "func": "var CSV = flow.get(\"CSV\");\nlet outputMsgs = [];\n\nCSV.forEach(data => {\n  outputMsgs.push({payload:data});\n    })\n\nreturn [ outputMsgs ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "0994e7281fc517ce"
            ]
        ]
    },
    {
        "id": "99b1044cb4777343",
        "type": "inject",
        "z": "fdfd790779661d44",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "abbe4e32719aceda"
            ]
        ]
    },
    {
        "id": "abbe4e32719aceda",
        "type": "change",
        "z": "fdfd790779661d44",
        "name": "Clear Variables",
        "rules": [
            {
                "t": "delete",
                "p": "NR_plants_FB",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 900,
        "wires": [
            [
                "a253ff0c5db1a370"
            ]
        ]
    },
    {
        "id": "7311b92e4102a77a",
        "type": "inject",
        "z": "fdfd790779661d44",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "24e99adab0cde565"
            ]
        ]
    },
    {
        "id": "8e6b6243e6228ffa",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store length uuid",
        "func": "var array = flow.get('length_FB') || [];\nvar name = msg.payload.data.attributes.revision_log_message;\nvar revision = msg.payload.data.attributes.drupal_internal__revision_id;\nvar id = msg.payload.data.id;\n\narray.push({id:id,name:name,revision:revision});\n\nflow.set(\"length_FB\", array);\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "85952d134ee6d33d",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store Nr uuid",
        "func": "var array = flow.get('NR_plants_FB') || [];\nvar name = msg.payload.data.attributes.revision_log_message;\nvar revision = msg.payload.data.attributes.drupal_internal__revision_id;\nvar id = msg.payload.data.id;\n\narray.push({id:id,name:name,revision:revision});\n\nflow.set(\"NR_plants_FB\", array);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "ea5f98717603dc4d",
        "type": "sf:949541c9b70110d5",
        "z": "fdfd790779661d44",
        "name": "Get Land assets",
        "API": "asset/land",
        "Method": "GET",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "49a26d4caeab0825"
            ]
        ]
    },
    {
        "id": "49a26d4caeab0825",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store Land UUID",
        "func": "var array = flow.get('land_uuid') || [];\nvar name;\nvar id;\n\nmsg.payload.data.forEach(data => {\nname = data.attributes.name;\nid = data.id;\narray.push({id:id,name:name});\n})\n\nflow.set(\"land_uuid\", array);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "c68be59ac496ae5d"
            ]
        ]
    },
    {
        "id": "5fdd39cbe865a156",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1c222d5a1bd090ae",
        "type": "function",
        "z": "fdfd790779661d44",
        "name": "Store log uuid",
        "func": "var array = flow.get('log_uuid') || [];\nvar name = msg.payload.data.attributes.data;\nvar id = msg.payload.data.id;\n\narray.push({id:id,name:name});\n\nflow.set(\"log_uuid\", array);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "24e99adab0cde565",
        "type": "change",
        "z": "fdfd790779661d44",
        "name": "Clear Variables",
        "rules": [
            {
                "t": "delete",
                "p": "log_uuid",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "1f84f9423836d07a"
            ]
        ]
    },
    {
        "id": "a615c5370a0c217b",
        "type": "comment",
        "z": "fdfd790779661d44",
        "name": "Create Quantites",
        "info": "",
        "x": 140,
        "y": 740,
        "wires": []
    },
    {
        "id": "a10b53d9da57b126",
        "type": "comment",
        "z": "fdfd790779661d44",
        "name": "Save CSV File",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "54f66378752bd940",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f7c9b9ef79580a8",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 240,
        "wires": []
    },
    {
        "id": "e64db67050c31876",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "c68be59ac496ae5d",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "4e7b0dda8fb037bd",
        "type": "debug",
        "z": "fdfd790779661d44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 500,
        "wires": []
    }
]
